<section class="p-5 flex justify-center">
  <div class="form-wrapper">
    <div>
      <%= render "register/show" %>
    </div>
    <%= link_to "Add User", create_user_path, class: "py-1 px-2 bg-emerald-400 rounded" %>
  </div>
</section>